.imgdivs{
    background-size: cover;
    background-image: url("../assets/images/vaccine.jpeg");
    background-size:100%;
    background-repeat: no-repeat;
    margin: 0%;
    padding-top:20px ;
}
.imgdivs2{
    background-image: url("../assets/images/covidinfo.jpeg");
    height: 300px;
    background-size :100%;
    background-repeat: no-repeat;
    margin: 0%;
    padding-top:122px ;
    padding-left: 533px;
}
.imgdiv2s a{
    text-decoration: none;
    color:white;
}
.imgdiv2 #a2{
    padding-left: 26px;
    text-decoration: none;
    color:white;

    /* letter-spacing: 1px; */
}
@media screen and (min-width: 901px) {
    .imgdiv { 
    height: 300px;
    }
  }